@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


:root{
  --primary-color:#FBBF24;
}



.header{
    background-color:var(--primary-color);
     padding: 0.2rem;
     border-radius: 1rem;
     font-family: 'Anton', sans-serif;
     font-size: 1.5rem;
     color: whitesmoke;
     text-align: center;
}




textarea{
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--primary-color);
}

#output-text{
    width: 80%;
    height: 10vh;
    margin: 1rem;
    padding: 1rem;
  border: 1px solid black;  
}