@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


:root{
  --primary-color:#FBBF24;
  --secondary-color:#FEF3C7;
}

body{
  max-width: 800px;
  margin: auto;
  background-color:var(--secondary-color) ;
}
.header{
    background-color:var(--primary-color);
     padding: 0.2rem;
     border-radius: 1rem;
     font-family: 'Anton', sans-serif;
     font-size: 1.5rem;
     color: whitesmoke;
     text-align: center;
}

#btn-translate{
  padding: 0.5rem 0.8rem;
  margin: 1rem;
  margin-left: 40%;
  color: aliceblue;
  font-size: large;
  background-color: var(--primary-color);
  border-radius: 1rem;
  outline:none;
  cursor: pointer;
  border: transparent;


}


textarea{
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    outline: none;
    border-radius: 1rem;
    border: 0.1rem solid var(--primary-color);
}

#output-text{
    width: 80%;
    height: 10vh;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: aliceblue;
    border: 0.1rem solid var(--primary-color);  
}